@import "tailwindcss";
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animated-bg {
    background-size: 200% 200%;
    animation: gradientShift 20s ease infinite;
  }
  